---
layout: default
---

<p style="margin-bottom:2em;">Huge <a href="https://twitter.com/hashtag/Nintendo?src=hash" target="_blank">#Nintendo</a>, <a href="https://twitter.com/hashtag/Sega?src=hash" target="_blank">#Sega</a>, <a href="https://twitter.com/hashtag/Commodore?src=hash" target="_blank">#Commodore</a> and <a href="https://twitter.com/hashtag/Atari?src=hash" target="_blank">#Atari</a> fans. We celebrate <a href="https://twitter.com/hashtag/gamingmemories?src=hash" target="_blank">#gamingmemories</a>, <a href="https://twitter.com/hashtag/retrogaming?src=hash" target="_blank">#retrogaming</a> and <a href="https://twitter.com/hashtag/retrocomputing?src=hash" target="_blank">#retrocomputing</a>! You can follow us on Twitter <a href="https://twitter.com/retrorabble" target="_blank">@retrorabble</a></p>

<h1>Posts</h1>

<ul>
{% for post in site.posts %}
  <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> - {{ post.date | date: "%b %-d, %Y" }}</li>
{% endfor %}
</ul>

<h1>Tags</h1>
{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<ul>
{% for tag in tags %}
<li><a href="#{{ tag | slugify }}"> {{ tag }} </a></li>
{% endfor %}
</ul>

{% for tag in tags %}
<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
<ul>
  {% for post in site.posts %}
  {% if post.tags contains tag %}
  <li>
      <a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date_to_string }}</small>
      </a>
      <!--{% for tag in post.tags %}
      <a href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}-->
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

</div>

