 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<p>About Us comments pending ...</p>
				</div>
                <div class="col-lg-4">
					<p>Some comments in here about why we love retrogaming and videogames</p>
                </div>		
            </div>
        </div>
    </section>
	
	
	
	